.text-center {
    text-align: center;
}
.text-align-end {
    text-align: end;
}
.text-start {
    text-align: start;
}
.text-offset-1 {
    margin-left: 1rem;
}
.text-offset-2 {
    margin-left: 2rem;
}
.text-offset-3 {
    margin-left: 3rem;
}
.text-offset-4 {
    margin-left: 4rem;
}
.text-offset-5 {
    margin-left: 5rem;
}